 <!-- nav bar  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>     
    </div>
  </nav>
  <!-- end nav bar -->
  <!-- jumbotron -->
  <div class="container">
    <div class="jumbotron my-4 text-center">
      <h1 class="display-4">Review It</h1>
      <p class="lead">This is a Node, Express, MySQL and express-handlebars powered application.</p>
      <hr class="my-4">
      <p>It uses Express to handle routing and server HTML as well as JSON, MySQL to store data, and jQuery for AJAX
        requests and handling other front-end logic.</p>
      <br>
      Additional technologies:
      <ul class="list-unstyled">
        <li>Bootstrap group list items</li>
        <li>Bootstrap accordion</li>
        <li>Bootstrap bagdes</li>
      </ul>
      <br>
      <a class="btn btn-primary btn-lg" href="./mapbox" role="button">Try it!</a>
    </div>
  </div>
  <!-- end jumbotron -->