{{!-- NAVBAR AREA --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a href="#" class="navbar-brand">Review it</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav">
      <li class="nav-item">
       <a class="btn btn-primary" href="/mapbox">Search for more places</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-user"></i> Profile </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          {{!-- MODAL LINKS --}}
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#accountModal"><i class="far fa-user-circle"></i>My account</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#settingsModal"><i class="fas fa-cogs"></i> Settings</a>
          <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i>Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
{{!-- NAVBAR END --}}
<div class="container">
  <div class="jumbotron p-1 my-2">
    <h1>Place infos here</h1>
    <h1 id="h1">Here we are</h1>
    <h2 id="h2"></h2>
    <h2 id="h3"></h2>
    <h2 id="h4"></h2>
  </div>
  <div class="jumbotron bg-dark my-2 p-1 text-light">
    photos go here
  </div>
  <button class="btn btn-lg btn-primary disabled" id="add-review" data-toggle="modal" data-target="#review-modal"> Add a
    review </button>
  <button class="btn btn-lg btn-primary disabled" id="add-photo"> Add a picture </button>
  <a class="btn btn-lg btn-primary" href="./user" id="login"> login or signup to leave a review</a>
  <div class="jumbotron bg-dark my-2 text-light" id="reviews">
    reviews go here as card with title as header content as body
  </div>
</div>

{{!-- review modal --}}
<div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="review-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title-input">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Description:</label>
            <textarea class="form-control" id="description-input"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-review">Save</button>
      </div>
    </div>
  </div>
</div>
{{!-- end review modal --}}

{{!-- upload photo modal --}}
{{!-- end upload photo modal --}}

























{{!-- SETTINGS MODAL --}}
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="text-center mb-4">Account Settings</h5>
          {{!-- ADD ACCUONT SETTINGS HERE --}}
          <div class="container">
              
              <div class="">
                {{!-- PASSWORD RESET HERE --}}
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-group">
                        <label for="passwordRegister">Password</label>
                        <input type="password" class="form-control" id="passwordRegister" aria-describedby="passwordHelp"
                          placeholder="PASSWORD" />
                        <small id="passwordHelp" class="form-text text-dark">Make a secure password and don't forget
                          it!</small>
                      </div>
                      <div class="form-group">
                        <label for="passwordConfirm">Confirm Password</label>
                        <input type="password" class="form-control" id="passwordConfirm"
                          aria-describedby="passwordConfirmHelp" placeholder="CONFIRM PASSWORD" />
                      </div>
                      <div class="d-flex justify-content-end">
                        <button class="btn btn-primary mx-1 mb-3">submit</button>
                        <button class="btn btn-danger mx-1 mb-3"data-dismiss="modal">cancel</button>
                      </div>
                    </form>
                  </div>
                </div>
                {{!-- PASSWORD RESET END --}}
              </div>
          </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
{{!-- SETTINGS MODAL END --}}



{{!-- ACCOUNT SETTINGS MODAL HERE --}}
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-center mb-4">My Account</h5>
        {{!-- ADD REGISTRATION HERE --}}
        <div class="container">

          <div class="row">
            <div class="col-12 col-lg-5 col-sm-12">
              {{!-- IMAGE UPLOAD HERE --}}
              <div>
                <div class="d-flex justify-content-center">
                  <img class="my-4" src="https://via.placeholder.com/225" alt="profile pic" />
                </div>
                <div class="d-flex justify-content-center">
                  <button class="btn" style="">upload picture</button>
                </div>
              </div>
              {{!-- END IMAGE SECTION --}}
            </div>
            <div class="col-12 col-lg-7 col-sm-12 col-xs-12">
              {{!-- REGISTER FORM HERE --}}
              <div class="card">
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <label for="accountName">Name</label>
                      <input type="text" class="form-control" id="accountName" aria-describedby="nameHelp"
                        placeholder="Enter your name" />
                    </div>
                    <div class="form-group">
                      <label for="accountEmail">Email</label>
                      <input type="email" class="form-control" id="accountEmail" aria-describedby="emailHelp"
                        placeholder="Enter email" />
                      <small id="emailHelp" class="form-text text-dark">This is your email.</small>
                    </div>
                    <div class="form-group">
                      <label for="accountBio">Bio</label>
                      <textarea class="form-control" id="accountBio" aria-describedby="bioHelp"
                        placeholder="PASSWORD" rows="3"></textarea>
                      <small id="bioHelp" class="form-text text-dark">Write a nice bio for yourself!</small>
                    </div>
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-primary mx-1 mb-3">Save Changes</button>
                      <button class="btn btn-danger mx-1 mb-3"  data-dismiss="modal">cancel</button>
                    </div>
                  </form>
                </div>
              </div>
              {{!-- REGISTER FORM END --}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

{{!-- ACCOUNT MODAL END --}}

<script src="assets/js/place.js"></script>