<div class="container">
  <div class="jumbotron bg-dark p-2 text-light">
    <p class="lead">
      Feel free to sign up on app
    </p>
  </div>
  <div class="alert alert-secondary" id="result-register" role="alert" hidden >
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col-6">
        <h2 class="text-center">Sign up</h2>
        <form>
          <div class="form-row">
            <div class="form-group col-12">
              <input class="form-control" id="username-input" type="text" placeholder="Enter a username">
            </div>
            <div class="form-group col-12">
              <input class="form-control" id="email-input" type="email" placeholder="Email address">
            </div>
            <div class="form-group col-12">
              <input class="form-control" id="password-input" type="password" placeholder="Password">
            </div>
            <div class="form-group col-12">
              <input class="form-control" id="cpassword-input" type="password" placeholder="Password">
            </div>
          </div>
          <div class="form-row">
            {{!-- <div class="form-group col-12">
              <button class="form-control btn btn-secondary " id="cancel-registration" > Cancel</button>
            </div> --}}
            <div class="form-group col-12">
              <button class="form-control btn btn-success btn-block" id="register" type="submit"> Register</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-6">
        <h2 class="text-center">Log in</h2>
        <form>
          <div class="form-row">
            <div class="form-group col-12">
              <input class="form-control" id="login-email-input" type="text" placeholder="Email address">
            </div>
            <div class="form-group col-12">
              <input class="form-control" id="login-password-input" type="password" placeholder="Password">
            </div>
          </div>
          <div class="form-row">
            {{!-- <div class="form-group col-6">
              <button class="form-control btn btn-secondary" id="cancel-login"> Cancel</button>
            </div> --}}
            <div class="form-group col-12">
              <button class="form-control btn btn-success btn-block " id="login" type="submit"> Log In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="assets/js/user.js"></script>